<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
</head>

<body>

    <h1>CV</h1>

    <!-- Utilisez l'élément iframe pour intégrer votre CV PDF -->
    <iframe src="Lien_Vers_Votre_CV_PDF" width="100%" height="600px"></iframe>

    <!-- Ajoutez un bouton de téléchargement -->
    <a href="Lien_Vers_Votre_CV_PDF" download="Votre_CV.pdf">
        <button>Télécharger le CV</button>
    </a>

</body>

</html>
